@model IEnumerable<ShareForceOne.Models.TripModel>

@{
    ViewData["Title"] = "AdminListTrips";
}

<table class="table">
    <thead>
        <tr style="font-size: 12px;">
            <th>
                @Html.DisplayNameFor(model => model.TripCarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStartCoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStopCoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripKMCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripCarSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripAnimals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripInfoText)
            </th>
            <th></th>
        </tr>
    </thead>
     
    <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size: 14px;">
                    <td>
                        @Html.DisplayFor(modelItem => item.TripCarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripStartCoord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripStopCoord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripCreator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripKMCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripCarSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripAnimals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripInfoText)
                    </td>
                    <td>
                        <a asp-action="AdminDeleteTrip" asp-route-id="@item.TripId"><input type="button" class="btn btn-danger" value="Delete" /></a>
                    </td>
                </tr>
        
            }
</tbody>
</table>
