@model IEnumerable<ShareForceOne.Models.TripModel>
@using ShareForceOne.Controllers;
@{
    ViewData["Title"] = "ListTrips";
}

<h3>Join Trip</h3>
<hr />
<table class="table">
    <thead>
        <tr class="list_text_10">
            @*<th>
                    @Html.DisplayNameFor(model => model.TripCarId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TripStartCoord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStopCoord)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TripCreator)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.TripKMCost)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TripDateTime)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TripCarSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripAnimals)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.TripInfoText)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="list_text_10">
                @*<td>
                        @Html.DisplayFor(modelItem => item.TripCarId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TripStartName)     
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStopName)    
                </td>
                @*<td>
                    
                        @Html.DisplayFor(modelItem => item.TripCreator)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.TripKMCost)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TripDateTime)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TripCarSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripAnimals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripInfoText)
                    </td>*@
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |*@
                    <a asp-action="TripDetails" asp-route-id="@item.TripId">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
