@model IEnumerable<ShareForceOne.Models.JoinTripModel>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinTripNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinTripNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.joinTripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.joinTripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.joinTripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
